@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #24292e;
}

a{
    text-decoration: none;
    color: #24292e;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 0 50px 0  ;
}

/* h1用 */
.site-title{
    line-height: 1px;
    margin-left: 30px;
}

/* h2用 */
.section-title{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 45px;
}

/* h3用 */
.content-title{
    text-align: center;
}

/* header */
#header{
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}

#header ul{
    display: flex;
    margin-right: 20px;
}

#header li{
    font-size: 0.9rem;
    margin-left: 30px;
}

#header li:hover{
    opacity: 0.7;
}

/* mainvisual */
#mainvisual{
    margin-bottom: 80px;
}

#mainvisual img{
    height: 600px;
    width: 100%;
    object-fit: cover;
}

/* About */
#About{
    background-color: #F5F5F5;
}


/* Works */
#Works ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Works li{
    width: 31%;
}

#Works a:hover{
    opacity: 0.7;
}

#Works img{
    cursor: pointer;
}

/* skills */
#Skills{
    background-color: #F5F5F5;
}

#Skills ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Skills img{
    height: 100px;
    width: auto;
}

#Skills li{
    width: 31%;
    text-align: center;
}

#Skills li p{
    text-align: initial;
}

/* contact */
#Contact p{
    text-align: center;
}

#Contact ul{
    display: flex;
    justify-content: center;
}

#Contact li{
    margin-left: 30px;
}

#Contact img{
    height: 100px;
    width: 100px;
}

.box{
    text-align: center;
    margin-top: 10px;
}

.form-name{
    border: 1px solid #333;
}

.form-address{
    border: 1px solid #333;
}

.form-content{
    border: 1px solid #333;
}

.submit-btn{
    display: block;
    color: #fff;
  background-color: #eb6100;
  border-radius: 100vh;
  padding: 10px 30px;
  margin: 10px auto;
}

.submit-btn:hover{
    opacity: 0.7;
}

.end-message {
    display: none;
  }
  
  .false-message {
    display: none;
  }

/* footer */
#footer{
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

/* レスポンジブ */
@media screen and (max-width:960px) { 
    .site-title{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    #header{
        max-width: 100%;
        height: auto;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #About p{
        padding-left: 50px;
        padding-right: 50px;
    }

    #Works{
        margin-left: 10px;
        margin-right: 10px;
    }

    #Works li{
        width: 49%;
    }

    #Skills li{
        width: 100%;
        padding-bottom: 20px;
    }

    #Skills li p{
        text-align: center;
    }
}
